.wrappers-container {
    height: 720px;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(8, auto);
    grid-gap: 0.5rem;
}

.wrapper {
    background: #cecece;
    position: relative;
}
.element-draggable{
    color:#fff;
    font-weight: bold;
    padding: 10px;
}
.toolbar .element-draggable {
    background: #0dc497;
    margin: 2px;
}

.wrapper .element-draggable {
    background: #6ba5b4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.held {
    background-color: #ffc148;
}
